

/* Tag selector to select the 'body' element */
body {
  background-color: #0096FF;
}

/* Tag selector to select all 'div' elements. We only have one 'div' in our HTML */
div {
  background-color:white ;
  align-items: center;
  height: 400px;
  width: 900px;
  margin: -25px 0 0 -25px;
  position: absolute;
  top: 20%;
  left: 25%;
}

/* ID selector to select the element with id 'main-header' */
#main-header {
  /* Your code here! */
  color: red;
}

/* Class selector to select elements containing the class 'perspective-questions' */
.perspective-questions {
  font-style: italic;
}
